.root {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-self: flex-start;
  min-width: 0;
  padding: 8px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 10px);
    height: calc(100% + 10px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) > *,
  .root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .root > :global(.__wab_flex-container) > picture > img,
  .root
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 10px;
  }
}
.frame2276 {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(251, 251, 251, 1);
  filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.05));
  width: auto;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 5px;
  padding: 15px 27px;
  border-left: 7px solid #da6a0f;
}
@media (max-width: 500px) {
  .frame2276 {
    width: 100%;
    min-width: 0;
  }
}
.frame2274 {
  display: flex;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
  flex-direction: row;
  height: 100%;
  overflow: hidden;
  min-height: 0;
}
.frame2274 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 0;
  margin-left: calc(0px - 33px);
  width: calc(100% + 33px);
}
.frame2274 > :global(.__wab_flex-container) > *,
.frame2274 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame2274 > :global(.__wab_flex-container) > picture > img,
.frame2274
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 33px;
}
@media (max-width: 500px) {
  .frame2274 {
    display: flex;
    flex-direction: column;
    height: auto;
  }
}
@media (max-width: 500px) {
  .frame2274 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 500px) {
  .frame2274 > :global(.__wab_flex-container) > *,
  .frame2274 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .frame2274 > :global(.__wab_flex-container) > picture > img,
  .frame2274
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.frame2272 {
  width: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: auto;
}
@media (max-width: 500px) {
  .frame2272 {
    margin-bottom: 10px;
  }
}
.frame2270 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.frame2270 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 17px);
  width: calc(100% + 17px);
}
.frame2270 > :global(.__wab_flex-container) > *,
.frame2270 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame2270 > :global(.__wab_flex-container) > picture > img,
.frame2270
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 17px;
}
.group2276 {
  width: 65px;
  height: 65px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.svg___5RcL4 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #008ad7;
  width: 65px;
  height: 65px;
  display: block;
  top: 0px;
  left: 0px;
}
.svg__hGpdI {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  transform: translate(-0.21899999999999942px, 0.25px);
  width: 39.863px;
  height: 28.604px;
  display: block;
  top: 16px;
  left: 12px;
}
.frame2269 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.frame2269 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 13px);
  height: calc(100% + 13px);
}
.frame2269 > :global(.__wab_flex-container) > *,
.frame2269 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame2269 > :global(.__wab_flex-container) > picture > img,
.frame2269
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 13px;
}
.frame2268 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.frame2268 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 2px);
  height: calc(100% + 2px);
}
.frame2268 > :global(.__wab_flex-container) > *,
.frame2268 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame2268 > :global(.__wab_flex-container) > picture > img,
.frame2268
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 2px;
}
.text___63SWv {
  display: block;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(39, 39, 39, 1);
  position: relative;
}
.text___9RgO9 {
  display: block;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(39, 39, 39, 1);
  position: relative;
}
.text__tGg1P {
  display: block;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(39, 39, 39, 1);
  position: relative;
}
.frame2271 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.frame2271 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 6px);
  width: calc(100% + 6px);
}
.frame2271 > :global(.__wab_flex-container) > *,
.frame2271 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame2271 > :global(.__wab_flex-container) > picture > img,
.frame2271
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 6px;
}
@media (max-width: 500px) {
  .frame2271 {
    margin-top: 10px;
  }
}
.text__xb7Gb {
  display: block;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  letter-spacing: -0.025em;
  line-height: 1.18478;
  color: #da6a0f;
  position: relative;
  width: 124px;
  flex-shrink: 0;
}
.text__fTqAu {
  display: block;
  font-size: 19px;
  font-family: "Font Awesome 5 Pro";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: #da6a0f;
  position: relative;
}
.freeBox {
  display: block;
  position: relative;
  width: 1px;
  height: 100%;
  background: #c3c3c3;
  flex-shrink: 0;
  min-height: 0;
}
@media (max-width: 500px) {
  .freeBox {
    display: none;
  }
}
.svg__aU7 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #ddd;
  transform: scale(1.000000499999875, 1.0000004999998748)
    rotate(90.0572957604145deg);
  width: 105px;
  height: 1px;
  display: block;
  transform-origin: top left;
  align-self: stretch;
  left: 0px;
  top: 0px;
}
.frame2273 {
  display: flex;
  flex-direction: column;
  max-height: 100px;
  overflow: hidden;
  width: auto;
  position: relative;
}
.frame2273 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 17px);
  height: calc(100% + 17px);
}
.frame2273 > :global(.__wab_flex-container) > *,
.frame2273 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame2273 > :global(.__wab_flex-container) > picture > img,
.frame2273
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 17px;
}
@media (max-width: 500px) {
  .frame2273 {
    max-height: 80px;
  }
}
.frame2273fullHeight {
  max-height: none;
}
.frame2282 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.frame2282 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 2px);
  height: calc(100% + 2px);
}
.frame2282 > :global(.__wab_flex-container) > *,
.frame2282 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame2282 > :global(.__wab_flex-container) > picture > img,
.frame2282
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 2px;
}
.text__u0AQ8 {
  display: block;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(39, 39, 39, 1);
  position: relative;
}
.text__jd9GH {
  display: block;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(39, 39, 39, 1);
  position: relative;
}
.frame2283 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.frame2283 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 2px);
  height: calc(100% + 2px);
}
.frame2283 > :global(.__wab_flex-container) > *,
.frame2283 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame2283 > :global(.__wab_flex-container) > picture > img,
.frame2283
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 2px;
}
.text___60Igg {
  display: block;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(39, 39, 39, 1);
  position: relative;
}
.text__pj4Lt {
  display: block;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(39, 39, 39, 1);
  position: relative;
  margin-bottom: 0px;
}
.frame2284 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.frame2284 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 2px);
  height: calc(100% + 2px);
}
.frame2284 > :global(.__wab_flex-container) > *,
.frame2284 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame2284 > :global(.__wab_flex-container) > picture > img,
.frame2284
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 2px;
}
.text__ltipJ {
  display: block;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(39, 39, 39, 1);
  position: relative;
}
.text__fpaGk {
  display: block;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(39, 39, 39, 1);
  position: relative;
}
.frame2285 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.frame2285 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 2px);
  height: calc(100% + 2px);
}
.frame2285 > :global(.__wab_flex-container) > *,
.frame2285 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame2285 > :global(.__wab_flex-container) > picture > img,
.frame2285
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 2px;
}
.text__g84ZT {
  display: block;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(39, 39, 39, 1);
  position: relative;
  margin-top: calc(0px + 2px) !important;
}
.text__llTH {
  display: block;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(39, 39, 39, 1);
  position: relative;
}
.frame2275 {
  width: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.frame2275 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.frame2275 > :global(.__wab_flex-container) > *,
.frame2275 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame2275 > :global(.__wab_flex-container) > picture > img,
.frame2275
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.buttons {
  background: #da6a0f;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  margin-top: calc(10px + 10px) !important;
  border-radius: 16px;
  padding: 6px 11px;
}
.buttons > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 7px);
  width: calc(100% + 7px);
}
.buttons > :global(.__wab_flex-container) > *,
.buttons > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.buttons > :global(.__wab_flex-container) > picture > img,
.buttons
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 7px;
}
.buttonsfullHeight {
  margin-top: calc(10px + 10px) !important;
}
.text__aWubr {
  display: block;
  font-size: 13px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.text__wKf5A {
  display: block;
  font-size: 19px;
  font-family: "Font Awesome 5 Pro";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.frame2279 {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(251, 251, 251, 1);
  filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.05));
  width: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  left: auto;
  top: auto;
  min-height: 0;
  border-radius: 5px;
  padding: 15px 27px;
  border-left: 7px solid #149466;
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame2279 {
    height: auto;
    left: auto;
    top: auto;
  }
}
@media (max-width: 500px) {
  .frame2279 {
    width: auto;
  }
}
.frame2279fullHeight {
  height: auto;
}
.frame2278 {
  width: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  min-height: 100px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame2278 {
    flex-grow: 0;
    height: auto;
  }
}
.frame2278fullHeight {
  height: auto;
}
.frame2277 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.frame2277 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 17px);
  width: calc(100% + 17px);
}
.frame2277 > :global(.__wab_flex-container) > *,
.frame2277 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame2277 > :global(.__wab_flex-container) > picture > img,
.frame2277
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 17px;
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 61px;
  height: 61px;
  display: block !important;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__ozquQ {
  display: block;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(39, 39, 39, 1);
  position: relative;
}
.frame2281 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  margin-top: 15px;
}
.frame2281 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 6px);
  width: calc(100% + 6px);
}
.frame2281 > :global(.__wab_flex-container) > *,
.frame2281 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame2281 > :global(.__wab_flex-container) > picture > img,
.frame2281
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 6px;
}
.text___74Pwi {
  display: block;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  letter-spacing: -0.025em;
  line-height: 1.18478;
  color: #149466;
  position: relative;
}
.text__h9Fqc {
  display: block;
  font-size: 19px;
  font-family: "Font Awesome 5 Pro";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: #149466;
  position: relative;
}
